<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Series Animation</title>
    <!-- Load the Paper.js library -->
    <script type="text/javascript" src="paper-full.min.js"></script>
    <script type="text/javascript" src="data.js"></script>
    <!-- Load your Paper.js file -->    
    <script type="text/javascript" src="lz-compress.js"></script>
    <script type="text/javascript" src="myScript.js"></script>
    <style>
      body{
        margin:0
      }
    </style>
  </head>
  <body>
    <header>
      <h1>
        Series on a Number Line
      </h1>
    </header>
    <a target="_blank" class="link">Go To Series on OEIS</a>
    <div class="series"></div>

  	<canvas id="myCanvas" resize style="height:100vh;width:100vw"></canvas>
    
  </body>
</html>
